#addEntryDiv {
    border: 0;
}

.deleteEntry {
    border: 0;
    border-left: inherit;
}

#addEntry {
    height: 12px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.ui-body-a {
    background: url("images/light_toast.png") repeat;
}

.ui-br {
    padding-bottom: 0.5em;
}

#dayForm .missing {
    color: red;
    font-weight: bold;
}

.ui-field-contain div.ui-select {
    width: 70%;
    min-width: 20em;
    display: inline-block;
}

.ui-field-contain div.ui-slider {
    width: 60%;
    min-width: 14.3em;
    display: inline-block;
}

.ui-field-contain div.ui-slider:after {
    clear: both;
}

label {
    margin-top: 0.5em;
    white-space: nowrap;
}

.ui-field-contain {
    margin-top: 0.8em;
    margin-bottom: 0em;
}

#dayListButtonDiv {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

#dayList .ui-li-count, #weekList .ui-li-count {
    font-size: 0.8em;
}

.ui-li-desc {
    margin-top: 0.2em;
}

#editDesc {
    font-style: italic;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-select-menu {
    height: 0;
    overflow: auto;
}

#dayListStatus {
    font-style: italic;
    text-align: center;
}